* {
    padding: 0;
    margin: 0;
   }

html {
    height: 100%;
    width: 100%;
}

body {
    display: grid; 
    grid-template-columns: 1fr 6fr; 
    grid-template-rows: 1fr 4fr; 
    grid-template-areas: 
    "sidebar topbar"
    "sidebar panel";
    height: 100%;
}

#sidebar {
    grid-area: sidebar;
    background-color: #0284c7;
}



#panel {
    grid-area: panel;
    background-color: #e2e8f0;
}

#topbar {
    grid-area: topbar;
    background-color: white;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
}