* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-display: swap;
    font-family: "Roboto" ;
    src: url("Assets/Fonts/Roboto-Regular.ttf");
}

html,body {
    overflow: auto;
    height: 100%;
    width: 100%;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 700;
}

body {
    display: grid; 
    grid-template-columns: 1fr 5fr; 
    grid-template-rows: 1fr 4fr; 
    grid-template-areas: 
    "sidebar topbar"
    "sidebar panel";
}

#sidebar {
    grid-area: sidebar;
    display: grid;
    background-color: #0284c7;
    grid-template-rows: repeat(12,30px);
    row-gap: 20px;
}



#panel {
    grid-area: panel;
    background-color: #e2e8f0;
}

#topbar {
    display: grid;
    grid-template: 1fr 2fr / 2fr 1fr;
    grid-area: topbar;
    background-color: white;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
}


.sNav {
    display: flex;
    align-items: center;
    margin-left: 35px;
    color: white;
    transition: .25s;
}

.sNav:hover {
    font-size: 25px;
}

#dashboard {
    font-size: 30px;
    height: 70px;
    margin-left: 10px;
}

.whiteSVG {
    fill: white;
    margin-right: 20px;
    height: 25px;
    width: 25px;
}

.searchSVG {
    fill: black;
    height: 25px;
    width: 25px;
    margin-right: 20px;
    margin-left: 20px;
}

.bell {
    fill: black;
    height: 25px;
    width: 25px;
}

#whiteSVGD {
    height: 50px;
    width: 50px;
}


.searchbar {
    border: none;
    background-color: rgb(228, 228, 235);
    border-radius: 30px;
    width: 80%;
    height: 30px;
}

.pfp {
    border-radius: 1000px;
    height: 55px;
    width: 55px;
    object-fit: cover;
    margin-left: -140px;
    margin-right: -140px;
}

.TL {
    display: flex;
    align-items: center;
}

.TR {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

.BL {
    display: flex;
    align-items: center;
    line-height: 1.5;
    font-weight: 1000;
}

.BR {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.pfpT {
    border-radius: 1000px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    margin-right: 20px;
    margin-left: 20px;
}

.blueB {
    display: grid;
    align-items: center;
    justify-content: center;
    background-color: #0284c7;
    height: 40px;
    width: 120px;
    border-radius: 1000px;
    color: white;
}

.wordbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
}

.YourProjects {
    padding-top: 40px;
    padding-left: 20px;
}

.Annoucements {
    padding-top: 40px;
    padding-left: 480px;
}

.PanelContainer {
    display: grid;
    grid-template: 300px 300px / 600px 600px 300px;
    width: 70%;
    height: 100% - 64px;
    gap: 25px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 25px;
}


.projects {
    background: linear-gradient(to left,white 95%,#F1B500 5%);
    height: 300px;
    width: 600px;
    border-radius: 10px;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
    padding-top: 30px;
    padding-left: 40px;
}

.SmallerText {
    font-weight: 500;
}

.AnnoucementMContainer {    
    display: grid;
    justify-content: center;
    grid-template-columns: 300px;
    grid-template-rows: 280px 32px 280px;
    row-gap: 16px;
    grid-row: 1 / 3;
    grid-column: 3;
    width: 300px;
    height: 100% - 64px;
}

.NAnnoucements {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
}

.trending {
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 8px -1px rgba(0, 0, 0, 0.1);
}

.trendingW {
    display: flex;
    align-items: center;
}